<div class="scoreboard">
  <h2>Dragon Slayers</h2>
  <table id="score-table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Position</th>
        <th>Points</th>
        <th>User</th>
      </tr>
    </thead>

    <tbody>
      <% count = 1 %>
      <% @scores.each_with_index do |score, i| %>
        <% if score.dragon_slayer === true %>
        <tr>
          <td><%= i.ordinalize %></td>
          <td><%= score.points %></td>
          <td><%= score.user.username %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <h2>Hall of Slain</h2>
  <table id="score-table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Position</th>
        <th>Points</th>
        <th>User</th>
      </tr>
    </thead>

    <tbody>
      <% @scores.each_with_index do |score, i| %>
        <% if score.dragon_slayer === false %>
          <% unless i === 0 %>
          <tr>
            <td><%= (i).ordinalize %></td>
            <td><%= score.points %></td>
            <td><%= score.user.username %></td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>