<p id="notice"><%= notice %></p>

<h2>Dragon Slayer</h2>
<table data-toggle="table" data-url="scores.json" data-cache="false" data-height="299">
  <thead>
    <tr>
      <th>Points</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <% if score.dragon_slayer === true %>
      <tr>
        <td><%= score.points %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<h2>Hall of Slain</h2>
<table>
  <thead>
    <tr>
      <th>Points</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <% if score.dragon_slayer === false %>
      <tr>
        <td><%= score.points %></td>
        <td><%= score.user.username %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Slay the Dragon', pages_home_path %>
